<!DOCTYPE html>
<html lang="en">
 
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
  <title>Claim Management System</title>
</head>
 
<body>
  <!--Nav bar-->

  <nav class="navbar navbar-expand-lg navbar-dark bg-green">
    
    <div class="collapse navbar-collapse" id="navbarText" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item  active">
          <a class="nav1 " href="/memberModule">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item ">
          <a class="nav1" href="/contactModule">Contact Us</a>
        </li>
        <li class="nav-item ">
          <a class="nav1" >Hello-<b>{{key1}}</b></a>
        </li>
       <li class="nav-item ">
          <a class="nav1" href="#" (click)="logout()">Logout</a>
        </li>
        
      
      </ul>  
    </div>

    <a class="navbar-brand justify-content-center" href="/memberModule">Claims Management System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  
  <!--body-->
 
  <div class="row">
   
    <div class="col-md-6 " style="width: 100%;">

     <div class="card-group">
        <div class="card">
          <img class="card-img-top mt-2" style="height: 18rem;" src="assets/image/1.png" alt="Card image cap">
          <div class="card-body mt-4">
            <h5 class="card-title text-center">View Bill</h5>
            <p class="card-text text-center" >Here you can view your Bill.</p>
            <div class="text-center">
            <a accesskey="v" href="/memberdetailsModule" class="btn btn-primary btn-mg active justify-content-center clr1" style="width:80%;" role="button" aria-pressed="true"><b><u>V</u></b>iew Bills</a>
            </div>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top  " src="assets/image/8.jpg" alt="Card image cap">
          <div class="card-body mt-4">
            <h5 class="card-title text-center">Claim Status</h5>
            <p class="card-text text-center">Her you can check status of your Claim</p>
            <div class="text-center">
            <a accesskey="c" href="/claimInput" class="btn btn-primary btn-mg active justify-content-center clr1 " style="width:80%;" role="button" aria-pressed="true"><b><u>C</u></b>laim Status</a>
            </div>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top mt-0"style="height: 18rem;"  src="assets/image/3.jpg" alt="Card image cap">
          <div class="card-body mt-4">
            <h5 class="card-title text-center">Submit Claim</h5>
            <p class="card-text text-center">Here you can submit your Claim.</p>
            <div class="text-center">
            <a accesskey="s" href="/submitInput" class="btn btn-primary btn-md active justify-content-center clr1" style="width:80%;" role="button" aria-pressed="true"><b><u>S</u></b>ubmit Claim</a>
            </div>
          </div>
        </div>
      </div>
      
    </div>
   
  </div>
  <!--footer-->
  <div class="bg-green py-4 footer ">
    <div class="row "> <small class="fottext">Copyright &copy; 2021. All rights reserved.</small>
       
    </div>
</div>
  <!--footer-->
</body>

</html>
