 .bg-green{
    color:white;
    background-color: #183a1d;
    
    
}

.nav-link:hover{
    text-decoration: white;
}
.nav1{
   
    color: white;
    text-decoration: none;
    
    padding-left: 10px;
}

.nav2{
   
    color: white;
    text-decoration: none;
   
    padding-left: 20px;
    
    
}

.nav3{
    width: 100%;
    float: right;
    
}

table{
    text-align: center;
    margin-top: 20%;
    margin-left: 35%;
  
}
.footer {
  position: fixed;
    bottom: 0px;
    width: 100%;
  }
  .fottext{
      padding-left: 20px;
  }
#f{
    color: white;
  }
button{
    background-color: #183a1d;
    color: white;
    margin-left: 34%;
    min-width: 20%;
    text-align: center;
}
.card{
    margin-top: 10%;
}
.btn2{
    margin-left: 70%;
    
    padding: 5px 10px 5px 10px;
}
.btn3{
    margin-left: 15%;
    padding: 5px 17px 5px 10px;
}
button:hover {
    color:white;
}


	.contact{
		padding: 2%;
		height: 100px;
	}
	.col-md-3{
		background: #183a1d;
		padding: 4%;
    color: white;
		border-top-left-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;
	}
	.contact-info{
		margin-top:10%;
	}
	.contact-info img{
		margin-bottom: 15%;
	}
	.contact-info h2{
		margin-bottom: 10%;
	}
	.col-md-9{
		background: #fff;
		padding: 3%;
		border-top-right-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}
	.contact-form label{
		font-weight:600;
	}
	.contact-form button{
		background: #183a1d;
		color: #fff;
		font-weight: 600;
		width: 25%;
	}
	.contact-form button:focus{
		box-shadow:none;
	}